$color:#fff;
$background-color:#060a3d;
$color1:#868aaf;
$color2:#db3baa;
$color2-dark:darken($color2, 10%);
$color2-darker:darken($color2, 30%);
$color3:#0025f1;
* {
	margin: 0;
	padding: 0;
}
#paler {
	overflow: hidden;
	height: 100vh;
	background-color: $background-color;
	.global-header {
		height: 110px;
		text-align: center;
		h1 {
			padding-top: 20px;
			font-size: 20px;
			color: $color;
		}
		p {
			font-size: 12px;
			color: $color1;
		}
		.balls {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			span {
				display: block;
				margin: 0 4px;
				border-radius: 50%;
				width: 5px;
				height: 5px;
				background-color: $color2-dark;
				font-size: 20px;
				&.current {
					width: 8px;
					height: 8px;
					background-color: $color2;
				}
			}
		}
	}
	.panels {
		display: flex;
		align-items: center;
		width: 200vw;
		height: calc(100vh - 270px);
		transition: transform .3s;
		&.panel1 {
			transform: translateX(0);
		}
		&.panel2 {
			transform: translateX(-100vw);
		}
		.panel-effect {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100vw;
			height: 100%;
			.effect {
				display: flex;
				position: relative;
				justify-content: center;
				align-items: center;
				height: 40vh;
				>div {
					position: absolute;
					background-size: contain;
				}
				.effect-1 {
					width: 70vw;
					height: 70vw;
					background: url("../svg/effect-no-move.svg") 0 0 no-repeat;
					animation: rotate 18s linear infinite;
				}
				.effect-2 {
					width: 60vw;
					height: 60vw;
					background: url("../svg/effect-move1.svg") 0 0 no-repeat;
					animation: rotate 12s linear infinite reverse;
				}
				.effect-3 {
					width: 24vw;
					height: 24vw;
					background: url("../svg/effect-move2.svg") 0 0 no-repeat;
					animation: rotate 9s linear infinite;
				}
			}
			.lyrics {
				text-align: center;
				p {
					margin-top: 8px;
					font-size: 14px;
					color: $color1;
					&.current {
						color: $color;
					}
				}
			}
		}
	}
	.global-footer {
		height: 160px;
		.buttons {
			display: flex;
			justify-content: center;
			svg {
				margin: 0 20px;
				width: 24px;
				height: 24px;
			}
		}
		.bar-area {
			display: flex;
			align-items: center;
			margin-top: 20px;
			padding: 0 20px;
			font-size: 12px;
			color: $color1;
			.time-start {
				order: 1;
				width: 40px;
			}
			.time-end {
				order: 3;
				width: 40px;
			}
			.bar {
				flex: 1;
				order: 2;
				margin: 0 10px;
				border-radius: 2px;
				height: 4px;
				background: $color3;
				.progress {
					position: relative;
					border-radius: 2px;
					width: 0%;
					height: 100%;
					background: $color2;
					transition: all .2s;
					&::after {
						display: block;
						position: absolute;
						right: -8px;
						top: -7px;
						width: 16px;
						height: 16px;
						background: url("../svg/progress.svg") 0 0 no-repeat;
						background-size: contain;
						content: "";
					}
				}
			}
		}
		.actions {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
			padding: 0 20px;
			svg {
				width: 28px;
				height: 28px;
				&.btn-play-pause {
					width: 50px;
					height: 50px;
				}
			}
		}
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
